// *************************************************************************************
//
// Helvetica Neue
//
// *************************************************************************************

// @font-face {
//   font-family: "HelveticaNeue";
//   src: url("/fonts/HelveticaNeue-Regular.otf") format("opentype");
//   font-weight: 400;
//   font-display: swap;
// }

// @font-face {
//   font-family: "HelveticaNeue";
//   src: url("/fonts/HelveticaNeue-Bold.otf") format("opentype");
//   font-weight: 700;
//   font-display: swap;
// }

// @font-face {
//   font-family: "Amarante";
//   src: url("/fonts/Amarante-Regular.ttf") format("truetype");
//   font-weight: 400;
//   font-display: swap;
// }

// @font-face {
//   font-family: "Daffodil";
//   src: url("/fonts/EDDaffodil-Regular.ttf") format("truetype");
//   font-weight: 500;
//   font-display: swap;
// }
