@use "sass:map";
@use "sass:list";

@function index-to-key($map, $index) {
  @return list.nth(map.keys($map), $index);
}


@function pxToRem($px, $factor) {
  @return $px * $factor * 0.1rem;
}


@function ipxTop($val) {
  @return calc(env(safe-area-inset-top) + #{$val});
}

@function ipxBottom($val) {
  @return calc(env(safe-area-inset-bottom) + #{$val});
}

@function ipxLeft($val) {
  @return calc(env(safe-area-inset-left) + #{$val});
}

@function ipxRight($val) {
  @return calc(env(safe-area-inset-right) + #{$val});
};