@use "sass:math";
  
// ****************************
// BREAKPOINTS
// ****************************
$site-scale: 1;
// $scale-mode: width; // width, height, fit
$scale-mode: fit; // width, height, fit

$mobile-scale-min: math.div(320, 390);
$mobile-scale-max: math.div(767, 390);
$desktop-scale-min: math.div(1024, 1920);
$desktop-scale-max: math.div(1650, 900);
// $breakpoints: (mobile: (width: 320, design-width: 320, design-height: 568, scale-min: 0.5, scale-max: 1.35), tablet: (width: 821, design-width: 1400, design-height: 900, scale-min: 0.75, scale-max: 2), desktop: (width: 1200, design-width: 1600, design-height: 900, scale-min: 0.75, scale-max: 1.2));
$breakpoints: (mobile: (width: 320, design-width: 390, design-height: 730, scale-min: $mobile-scale-min, scale-max: $mobile-scale-max), desktop: (width: 768, design-width: 1728, design-height: 1117, scale-min: $desktop-scale-min, scale-max: 1.4));



// ****************************
// GRID
// ****************************
$desktopGridWidth: 1480;
$desktopWidth: map-get(map-get(($breakpoints), desktop), design-width);
$desktopMaxScale: map-get(map-get(($breakpoints), desktop), scale-max);
$scrollbarWidth: 14px;

// ****************************
// Z-INDEXES
// ****************************
$z-popup: 100;
$z-menu: 200;
$z-tutorial: 300;
$z-preloader: 400;
$z-cursor: 500;
$z-rotation-message: 600;



// ****************************
// SIZE
// ****************************
$p1: 0.8rem;
$p2: 1.6rem;
$p3: 2.4rem;
$p4: 3.2rem;
$p5: 4.0rem;
$p6: 4.8rem;
$p7: 5.6rem;
$p8: 6.4rem;
$p9: 7.2rem;
$p10: 8.0rem;

// ****************************
// GRADIENTS
// ****************************
$whiteGradient: hsl(0, 0%, 100%) 0%, hsla(0, 0%, 100%, 0.987) 8.1%, hsla(0, 0%, 100%, 0.951) 15.5%, hsla(0, 0%, 100%, 0.896) 22.5%, hsla(0, 0%, 100%, 0.825) 29%, hsla(0, 0%, 100%, 0.741) 35.3%, hsla(0, 0%, 100%, 0.648) 41.2%, hsla(0, 0%, 100%, 0.55) 47.1%, hsla(0, 0%, 100%, 0.45) 52.9%, hsla(0, 0%, 100%, 0.352) 58.8%, hsla(0, 0%, 100%, 0.259) 64.7%, hsla(0, 0%, 100%, 0.175) 71%, hsla(0, 0%, 100%, 0.104) 77.5%, hsla(0, 0%, 100%, 0.049) 84.5%, hsla(0, 0%, 100%, 0.013) 91.9%, hsla(0, 0%, 100%, 0) 100%;

// ****************************
// EXPORTS
// ****************************
:export {
  site_scale: $site-scale;
  scale_mode: $scale-mode;

  breakpoints: map-keys($breakpoints);

  @each $key, $val in $breakpoints {
    breakpoint_#{$key}_width: map-get(($val), width);
    breakpoint_#{$key}_design_width: map-get(($val), design-width);
    breakpoint_#{$key}_design_height: map-get(($val), design-height);
    breakpoint_#{$key}_scale_min: map-get(($val), scale-min);
    breakpoint_#{$key}_scale_max: map-get(($val), scale-max);
  }
}
