@forward "./app/index.scss";

:root {
  --vh100max: 100vh;
  --100vh: 100vh;
  --vh100min: 100vh;
  --vh: 1vh;

  --jsvh100min: 100vh;

  --roughMin: calc(100vh - (100vw * 0.3));
  --safe100min: max(var(--roughMin), var(--jsvh100min));

  @include breakpoint(mobile) {
    --vh100min: var(--safe100min);
  }
}

html {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: none;
  font-size: 10px;

  font-weight: 500;
  background-color: rgb(29, 29, 29);

  &.remlock {
    font-size: 10px !important;
  }
  @include rem-scale();
  overflow: hidden;
}

.mobile-only {
  @include breakpoint(desktop) {
    display: none !important;
  }
}

.desktop-only {
  @include breakpoint(mobile) {
    display: none !important;
  }
}

main {
  position: relative;
  z-index: 5;
}

section,
footer,
main {
  // overflow: hidden;
  position: relative;
}

main {
  width: 100%;
  min-height: var(--100vh);
  position: relative;
}

.flowIsHijacked {
  pointer-events: none;

  * {
    pointer-events: none;
  }
}

main {
  font-size: 2rem;

  padding-top: 10rem;
  background-color: white;
  width: 100%;
  display: flex;
  align-items: center;
  flex-direction: column;
  row-gap: 1rem;

  p {
    width: 70rem;
    border-radius: 0.2rem;
    padding: 2rem;
    background-color: beige;
  }
}
